<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kedu.arias.MemberMapper">
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and member_id like CONCAT('%'||#{keyword,jdbcType=VARCHAR},'%')
			</if>
			<if test="searchType == 'c'.toString()">
				and member_first_name || member_last_name like CONCAT('%'||#{keyword,jdbcType=VARCHAR},'%')
			</if>
			<if test="searchType == 'w'.toString()">
				and member_email like CONCAT('%'||#{keyword,jdbcType=VARCHAR},'%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and country_name_kor like CONCAT('%'||#{keyword,jdbcType=VARCHAR},'%')
			</if>
		</if>
	</sql>

	<insert id="create">
		insert into member (member_id,member_email,member_pwd, member_first_name, member_last_name,country_id,
		                    member_phone,member_birthday,member_img)
		values(
		#{member_id, jdbcType=VARCHAR},
		#{member_email,jdbcType=VARCHAR},
		#{member_pwd,jdbcType=VARCHAR}, 
		#{member_first_name,jdbcType=VARCHAR}, 
		#{member_last_name,jdbcType=VARCHAR}, 
		#{country_id,jdbcType=VARCHAR}, 
		#{member_phone,jdbcType=VARCHAR}, 
		#{member_birthday,jdbcType=DATE}, 
		#{member_img,jdbcType=VARCHAR}
		)
		
	</insert>
	
	
	<select id="create_next_memberid" resultType="String">
		select create_next_memberid from dual
	</select>
	
	
	<!-- 자동로그인 처리 -->
	
	<select id="checkUserWithSessionKey" resultType = "MemberDto">
		select * from member
		where sessionkey = #{value,jdbcType=VARCHAR}
		and sessionlimit > now()
	</select>

	<update id="keeplogin">
		update member
		set sessionkey = #{sessionkey,jdbcType=VARCHAR}, sessionlimit = #{next,jdbcType=DATE}
		where member_id = #{member_id,jdbcType=VARCHAR}
	</update>
	
	<!-- 자동로그인 처리 끝 -->


	<select id="read" resultType="com.kedu.arias.member.dto.MemberDto">
		select
		  m.member_id
		, m.member_email 
		, m.member_first_name
		, m.member_last_name
		, m.country_id
		, m.member_phone
		, m.member_img
		, m.member_birthday
		, m.member_reg_date
		, c.country_name_kor
		, c.country_name_eng
		from
		member m , country_code c
		where m.member_id = #{member_id}
		AND m.COUNTRY_ID=c.COUNTRY_ID
	</select>
	
	<update id="update">
		update member set 
		member_email      = #{member_email,jdbcType=VARCHAR}, 
		member_first_name = #{member_first_name,jdbcType=VARCHAR},
		member_last_name  = #{member_last_name,jdbcType=VARCHAR},
		country_id        = #{country_id,jdbcType=VARCHAR},
		member_phone      = #{member_phone,jdbcType=VARCHAR}
	  <!--  member_birthday =#{member_birthday,jdbcType=VARCHAR} -->
	<!-- 	member_reg_date = #{member_reg_date,jdbcType=VARCHAR} -->
	<!-- 	member_img = #{member_img,jdbcType=VARCHAR} -->
		where member_id   = #{member_id}
	</update>

	<delete id="delete">
		delete from member where member_id = #{member_id}
	</delete>


	<select id="listSearch" resultType="com.kedu.arias.member.dto.MemberDto">
<![CDATA[  
  select m.*
  , c.country_name_kor
  , c.country_name_eng
  from member m , country_code c 
  where m.member_id > 0 
  and m.COUNTRY_ID=c.COUNTRY_ID
]]>

		<include refid="search"></include>
  
<![CDATA[    
  order by member_id desc
]]> 
	</select>
	
	
	<select id="selectAllMemberCount" resultType="int" >
		SELECT count(*) FROM member
		where 1=1 		<include refid="search"></include>
	</select>
	
	<select id="selectMemberList" resultType="com.kedu.arias.member.dto.MemberDto">
	
	
		SELECT member.*
		FROM ( 
				SELECT ROWNUM ro,n.* 
                FROM ( 
   	    				SELECT m.* 
   	    				
						  , c.country_name_kor
						  , c.country_name_eng
                        from member m , country_code c 
                        where 1 = 1 
  						and m.COUNTRY_ID=c.COUNTRY_ID <include refid="search"></include>
                        ORDER BY m.member_id DESC
                      ) n
			) member 
		WHERE  1=1 AND ro BETWEEN #{start} AND #{end}
	
	</select>
	
	<select id="adminCheck" resultType="int">
		SELECT COUNT(*) FROM ADMIN_CODE
		WHERE member_id =#{member_id}
	</select>
	
	
</mapper>