<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kedu.arias.productMapper">

	<insert  id="product_insert_step1" parameterType="com.kedu.arias.product.dto.ProductDto" >
				INSERT INTO PRODUCT (  product_seq
                                       , p_main_img
                                       , member_id
                                       , product_name
                                       , product_price
                                       , country_id
                                       , product_addr
                                       , product_addr_detail
                                       , product_info
                                       , product_lat
                                       , product_lng
                                       , number_of_people
                                       , product_step)
                                       VALUES ( 
                                        #{product_seq,jdbcType=NUMERIC}
									  , #{p_main_img,jdbcType=VARCHAR}
                                      , #{member_id,jdbcType=VARCHAR}
                                      , #{product_name,jdbcType=VARCHAR}
                                      , #{product_price,jdbcType=NUMERIC}
                                      , #{country_id,jdbcType=VARCHAR}
                                      , #{product_addr,jdbcType=VARCHAR}
                                      , #{product_addr_detail,jdbcType=VARCHAR}
                                      , #{product_info,jdbcType=VARCHAR}
                                      , #{product_lat,jdbcType=NUMERIC}
                                      , #{product_lng,jdbcType=NUMERIC}
                                      , #{number_of_people,jdbcType=NUMERIC}
                                      , 1)
	</insert>
	<update id="product_insert_step2" parameterType="com.kedu.arias.product.dto.ProductDto">
	UPDATE PRODUCT
		SET product_mindt = #{product_mindt,jdbcType=NUMERIC}
		,   product_maxdt = #{product_maxdt,jdbcType=NUMERIC}
        ,   product_readydt = #{product_readydt,jdbcType=NUMERIC}
        ,   product_prepdt = #{product_prepdt,jdbcType=NUMERIC}
        ,   product_step = 2
         
	where product_seq = #{product_seq,jdbcType=NUMERIC}
	</update>
	<select id="create_next_product_seq" parameterType="String" resultType="Integer">
		select create_next_product_seq from dual
	</select>
	
	<insert id="insert_notsales" parameterType="com.kedu.arias.product.dto.NotsalesDto">
		INSERT INTO NOTSALES_DATE(NOTSALES_SEQ,PRODUCT_SEQ,NS_START_DT,NS_END_DT) 
		VALUES(
		  #{notsales_seq,jdbcType=NUMERIC}
		, #{product_seq,jdbcType=NUMERIC}
		, #{ns_start_dt,jdbcType=DATE}
		, #{ns_end_dt,jdbcType=DATE}
		)
	</insert>
	
	<update id="update_product_options">
		update product
		set building_id = #{building_id,jdbcType=VARCHAR},
			accom_id = #{accom_id,jdbcType=VARCHAR},
			bed_id = #{bed_id,jdbcType=VARCHAR},
			sguest_id = #{sguest_id,jdbcType=VARCHAR}
		where product_seq = #{product_seq,jdbcType=NUMERIC}
	</update>
	
	<insert id="insert_convin_options">
		insert into product_convin values(#{product_seq,jdbcType=VARCHAR},#{convin_id,jdbcType=VARCHAR})
	</insert>
	
	<insert id="insert_bath_options">
		insert into product_bath values(#{product_seq,jdbcType=VARCHAR},#{bath_id,jdbcType=VARCHAR})
	</insert>
	
	<insert id="insert_space_options">
		insert into product_space values(#{product_seq,jdbcType=VARCHAR},#{space_id,jdbcType=VARCHAR})
	</insert>
	
	<insert id="insert_safety_options">
		insert into product_safety values(#{product_seq,jdbcType=VARCHAR},#{safety_id,jdbcType=VARCHAR})
	</insert>
	
	<insert id="insert_regulation_options">
		insert into product_regul values(#{product_seq,jdbcType=VARCHAR},#{regulation_id,jdbcType=VARCHAR})
	</insert>
	

	<select id="select_product_search" resultType="com.kedu.arias.product.dto.ProductDto">
	<![CDATA[
	
 	SELECT *
	FROM
	(
		SELECT p.product_seq
        			, p.product_name
                    , p.product_price
                    , a.ACCOM_NAME
                    , p.NUMBER_OF_PEOPLE
                    , p.P_MAIN_IMG
                    , ( 6371 * acos( cos( radians(#{lat,jdbcType=NUMERIC}) ) * cos( radians(product_lat) ) * cos( radians( product_lng ) - radians(#{lng,jdbcType=NUMERIC}) ) + sin( radians(#{lat,jdbcType=NUMERIC})) * sin( radians( product_lat ) ) ) ) AS distance
		FROM PRODUCT P, ACCOM_CODE a
        WHERE a.ACCOM_ID=p.ACCOM_ID
        AND number_of_people >= #{number_of_people, jdbcType=NUMERIC}
 	) x
 	WHERE  distance <= 30
 	ORDER BY distance
	]]>
	</select>
	
</mapper>

