<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kedu.arias.reservationMapper">
	
	<select id="selectMyReservationStatus" resultType="Integer">
	
		SELECT reserv_status
		FROM RESERVATION 
		WHERE member_id = #{member_id,jdbcType=VARCHAR}
		AND product_seq = #{product_seq,jdbcType=NUMERIC} 
		
	</select>
	
	<select id="duplicateReservationCheck" resultType="Integer">
	
		SELECT COUNT(*) 
		FROM RESERVATION 
		WHERE member_id = #{member_id,jdbcType=VARCHAR}
		AND product_seq = #{product_seq,jdbcType=NUMERIC}
		and reserv_status != 3 
		
	</select>
	
	<insert id="insertReservation" parameterType="com.kedu.arias.product.dto.ReservationDto">
		INSERT INTO RESERVATION VALUES(
										  create_next_reservation_seq 
										, #{product_seq,jdbcType=NUMERIC}
										, #{member_id,jdbcType=VARCHAR}
										, #{reserv_count,jdbcType=NUMERIC}
										, #{checkin_dt,jdbcType=VARCHAR}
										, #{checkout_dt,jdbcType=VARCHAR}
										, SYSDATE
										, #{member_intro,jdbcType=VARCHAR}
										,1)
	</insert>
	
	<update id="updateReservationStatus">
	
		UPDATE RESERVATION
		SET reserv_status = #{reserv_status, jdbcType=NUMERIC}
		WHERE member_id = #{member_id, jdbcType=VARCHAR}
		AND product_seq = #{product_seq, jdbcType=NUMERIC}
		AND reservation_seq = #{reservation_seq, jdbcType=NUMERIC}
		
	</update>
	
	<select id="selectInvalidReservationDate" resultType="com.kedu.arias.product.dto.NotsalesDto">
		 
		 SELECT TO_CHAR(ns_start_dt, 'YYYY-MM-DD') ns_start_dt
					,TO_CHAR(ns_end_dt, 'YYYY-MM-DD') ns_end_dt
		 FROM NOTSALES_DATE 
		 WHERE product_seq=#{product_seq, jdbcType=NUMERIC}
		 UNION 
		 SELECT TO_CHAR(checkin_dt, 'YYYY-MM-DD') ns_start_dt
					,TO_CHAR(checkout_dt, 'YYYY-MM-DD') ns_end_dt
		 FROM RESERVATION 
		 WHERE product_seq = #{product_seq, jdbcType=NUMERIC}
		 AND reserv_status in (0,1) 	
			
	</select>

	<select id="selectReservationList" resultType="com.kedu.arias.product.dto.ReservationDto">
		SELECT  m.MEMBER_First_NAME ||' '|| m.MEMBER_LAST_NAME member_name 
			  , m.member_img
		      , r.RESERVATION_SEQ
		      , r.PRODUCT_SEQ
		      , r.MEMBER_ID
		      , r.RESERV_COUNT
		      , to_char(r.CHECKIN_DT,'YYYY-MM-DD') CHECKIN_DT
		      , to_char(r.CHECKOUT_DT,'YYYY-MM-DD') CHECKOUT_DT 
		      , to_char(r.REG_DT,'YYYY-MM-DD') REG_DT
		      , r.MEMBER_INTRO
		      , r.RESERV_STATUS
		FROM RESERVATION r , MEMBER m
		WHERE r.product_seq = #{product_seq, jdbcType=NUMERIC}
		AND r.member_id = m.member_id
		order by r.RESERV_STATUS asc
	</select>
	
	<select id="reservationHostCheck" resultType="int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE product_seq = #{product_seq} and member_id =#{member_id}
	</select>
	
	<select id="selectNowReservNum" resultType="int">
		SELECT COUNT(*) FROM RESERVATION
		WHERE product_seq = #{product_seq}
		and reserv_status=0
	</select>
	<select id="selectReservationDetail" resultType="com.kedu.arias.product.dto.ReservationDto">
		SELECT 
	         RESERVATION_SEQ
	       , PRODUCT_SEQ
	       , MEMBER_ID
	       , RESERV_COUNT
	       , to_char(CHECKIN_DT,'YYYY-MM-DD') CHECKIN_DT
	       , to_char(CHECKOUT_DT,'YYYY-MM-DD') CHECKOUT_DT
	       , to_char(REG_DT,'YYYY-MM-DD') REG_DT
	       , MEMBER_INTRO
	       , RESERV_STATUS
		FROM RESERVATION
		WHERE product_seq = #{product_seq}
		AND member_id = #{member_id}
		and reservation_seq =#{reservation_seq}
	</select>
	
	<select id="selectMyReservationList" resultType="com.kedu.arias.product.dto.ReservationDto">
               SELECT  
		        r.RESERVATION_SEQ
		      , r.PRODUCT_SEQ
		      , r.MEMBER_ID
		      , r.RESERV_COUNT
		      , to_char(r.CHECKIN_DT,'YYYY-MM-DD') CHECKIN_DT
		      , to_char(r.CHECKOUT_DT,'YYYY-MM-DD') CHECKOUT_DT 
		      , to_char(r.REG_DT,'YYYY-MM-DD') REG_DT
		      , r.MEMBER_INTRO
		      , r.RESERV_STATUS
              , p.PRODUCT_NAME
              , p.PRODUCT_ADDR
              , p.PRODUCT_ADDR_DETAIL
		FROM RESERVATION r , PRODUCT p 
        where
		r.member_id = #{member_id}
        AND r.product_seq = p.product_seq
		order by r.RESERV_STATUS ASC
	</select>
	
	<delete id="cancelMyReservation" parameterType="int">
		delete from reservation where reservation_seq=#{reservation}
	</delete>

</mapper>