@CHARSET "UTF-8";

/* Remove the navbar's default margin-bottom and rounded borders */
	* {
		margin: 0px;
		padding: 0px;
	}
.navbar {
	margin-bottom: 0;
	border-radius: 0; 
}
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media ( max-width : 600px) {
	.carousel-caption {
		display: none;
	}
}
.input_type1 {
	width: 100px;
}

.input_type2 {
	width: 150px;
}

.input_type3 {
	width: 400px;
}