@CHARSET "UTF-8";

/* Remove the navbar's default margin-bottom and rounded borders */
	* {
		margin: 0px;
		padding: 0px;
	}
.navbar {
	margin-bottom: 0;
	border-radius: 0; 
}
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media ( max-width : 600px) {
	.carousel-caption {
		display: none;
	}
}
.input_type0 {
	width: 20px;
}

.input_type1 {
	width: 20%;
}

.input_type2 {
	width: 40%;
}

.input_type3 {
	width: 60%;
}

.input_type4 {
	width: 80%;
}
.input_type5 {
	width: 100%;
}